.txtmmtype {
	width:165px;
}

.txtmmroletype {
	width:539px;
}

.pgt_name h2{ font-size:40px; line-height:50px; letter-spacing:-3px}
.pgt_name h2 span{ font-size:30px; display:block; line-height:100px;}
.pgt_name .finan_txt{ font-size:15px; line-height:22px; margin-top:32px; letter-spacing:-2px}